<a href="https://colab.research.google.com/github/Vignesh141099/Data-Structures-Practice/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA STRUCTURES OF PYTHON:**

***SET***:
* Set is a collection of unique elements of a data. 
* Set is unordered and unindexed
* Set is written inside of {} brackets.

In [1]:
# Creating a Set
s= {5,62,0,'ajay','vishnu','ajay','62',False}
s

{0, 5, '62', 62, 'ajay', 'vishnu'}

In the above while printing 's' we get the of collection of unique items from s.
**Note:** False = 0 , so either False or zero will appear in the output

In [4]:
#DIR function which means it gives all the possible functions which we can use for a set
 
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**add#** add an element to the s set.

In [82]:
s= {5,62,0,'ajay','vishnu','ajay','62',False}
s.add("16")
print(s)

{0, '16', 5, 'ajay', 'vishnu', '62', 62}

**clear#** Removes all the elements from the set.

In [83]:
s= {5,62,0,'ajay','vishnu','ajay','62',False}
s.clear()
print(s)

set()

**copy#** gives the copy of a set

In [8]:
# since I cleared our set in last command, so I again copied and pasted our old set,
s= {5,62,0,'ajay','vishnu','ajay','62',False}
set= s.copy()
print(set)

{0, 'vishnu', 5, '62', 'ajay', 62}

**difference#** Returns a set containing the difference between two or more sets

In [10]:
a = {1,5,9,11,15}
b = {2,4,6,8,10}
c= a.difference(b)
print(c)

{1, 5, 9, 11, 15}

**difference_update#** it will removes the items in this set that are also included in another, specified set

In [13]:
a = {1,5,9,11,15}
b = {2,4,6,8,10}
a.difference_update(b)
print(a)

{1, 5, 9, 11, 15}

**discard#** it will remove the specified item.

In [84]:
set={0, 'vishnu', 5, '62', 'ajay', 62}
set.discard('vishnu')
print(set)

{0, 5, 'ajay', '62', 62}

**intersection#** Returns a set, that is the intersection of two other sets.

In [15]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
z=d.intersection(e)
print(z)

{'ajay'}

**intersection_update#** Removes the items in this set that are not present in other, specified sets

In [35]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
d.intersection_update(e)
print(d)

{'ajay'}

**isdisjoint#**Returns whether two sets have a intersection or not

In [85]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
z=d.isdisjoint(e)
print(z)

False

**issubset#**Returns whether another set contains this set or not

In [86]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
z=d.issubset(e)
print(z)

False

**issuperset#** Returns whether this set contains another set or not

In [87]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
z=d.issuperset(e)
print(z)

False

**pop#** Removes an element from the set

In [23]:
ss={5,4,1,10}
ss.pop()
print(ss)

{10, 4, 5}

**remove#** Removes the specified element

In [24]:
ss={5,4,1,10}
ss.remove(10)
print(ss)

{4, 5}

**symmetric_difference#** Returns a set with the symmetric differences of two sets

In [25]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
z= d.symmetric_difference(e)
print(z)

{'vijay', 'vishnu', 'anbu', 'shan'}

**symmetric_difference_update#** inserts the symmetric differences from this set and another

In [34]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
d.symmetric_difference_update(e)
print(d)

{'vijay', 'vishnu', 'anbu', 'shan'}

**union#** return a set that contains all items from both sets, duplicates not included

In [29]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
z= d.union(e)
print(z)

{'vishnu', 'vijay', 'ajay', 'shan', 'anbu'}

**update#** Insert the items from set e into set d.

In [33]:
d={'ajay','vishnu','shan'}
e={'vijay','anbu','ajay'}
d.update(e)
print(d)

{'vishnu', 'vijay', 'ajay', 'shan', 'anbu'}

**LIST:**  

*   Lists are used to store multiple items in a single variable.
*   Lists are muttable and indexed.
*   Lists are created using [ ] brackets.

In [42]:
#LIST
games = ['cricket','football','basket ball','tennis']
games

['cricket', 'football', 'basket ball', 'tennis']

**append#** Add an element to the list

In [43]:
games.append('hockey')
games

['cricket', 'football', 'basket ball', 'tennis', 'hockey']

**copy#** copy the games list

In [46]:
games = ['cricket','football','basket ball','tennis','hockey']
games_copy = games.copy()
games_copy

['cricket', 'football', 'basket ball', 'tennis', 'hockey']

**count#** Returns the number of elements with the specified value

In [47]:
games = ['cricket','football','basket ball','tennis','hockey']
games.count('cricket')

1

**extend#** Add the elements of a list, to the end of the current list.

In [51]:
games = ['cricket','football','basket ball','tennis','hockey']
bike = ['FZ','Pulsar','Yamaha']
games.extend(bike)
games

['cricket',
 'football',
 'basket ball',
 'tennis',
 'hockey',
 'FZ',
 'Pulsar',
 'Yamaha']

**index#** Returns the index of the first element with the specified value

In [52]:
games = ['cricket','football','basket ball','tennis','hockey']
games.index('football')

1

**insert#** Adds an element at the specified position

In [53]:
games = ['cricket','football','basket ball','tennis','hockey']
games.insert(2,'cycling')
games

['cricket', 'football', 'cycling', 'basket ball', 'tennis', 'hockey']

**pop#** Removes the element at the specified position

In [54]:
games = ['cricket','football','basket ball','tennis','hockey']
games.pop(2)
games

['cricket', 'football', 'tennis', 'hockey']

**remove#** Removes the item with the specified value

In [56]:
games = ['cricket','football','basket ball','tennis','hockey']
games.remove('hockey')
games

['cricket', 'football', 'basket ball', 'tennis']

**reverse#** Reverses the order of the list

In [57]:
games = ['cricket','football','basket ball','tennis','hockey']
games.reverse()
games

['hockey', 'tennis', 'basket ball', 'football', 'cricket']

**sort#** Sorts the list

In [58]:
games = ['cricket','football','basket ball','tennis','hockey']
games.sort()
games

['basket ball', 'cricket', 'football', 'hockey', 'tennis']

**clear#** clear all the values in the list

In [61]:
games = ['cricket','football','basket ball','tennis','hockey']
games.clear()
games

[]

**TUPLES**: 


*   Tuples are used to store multiple items in a single variable.
*   A tuple is a collection which is ordered and unchangeable.
*   Tuples are written with ( ) brackets.

**count#** Returns the number of times a specified value occurs in a tuple

In [59]:

num=(5,7,8,9,5,13,5,11,13,43,5)
x=num.count(5)
x

4

**index#** Search for the first occurrence of the value, and return its position:

In [60]:
num=(5,7,8,9,5,13,5,11,13,43,5)
num.index(5)

0

**DICTIONARY:**


* Dictionaries are used to store data values in key:value pairs.
* A dictionary is ordered, changeable and do not allow duplicates.
* Dictionaries are written with { } brackets.

**clear#** Remove all the elements from the dictionary.

In [62]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
keys.clear()
keys

{}

**copy#** Returns a copy of the dictionary

In [63]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
keys_copy = keys.copy()
keys_copy

{'key1': 'lion', 'key2': 'tiger', 'key3': 'deer'}

**fromkeys#** Returns a dictionary with the specified keys and value

In [64]:
x = {'key1','key2','key3'}
y = 5
z = dict.fromkeys(x,y)
z

{'key1': 5, 'key3': 5, 'key2': 5}

**get#** Returns the value of the specified key

In [65]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
val= keys.get('key2')
val

'tiger'

**items#** Returns a list containing a tuple for each key value pair

In [66]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
keys.items()

dict_items([('key1', 'lion'), ('key2', 'tiger'), ('key3', 'deer')])

**pop#** Removes the element with the specified key

In [69]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
keys.pop("key1")
keys

{'key2': 'tiger', 'key3': 'deer'}

**popitem** Removes the last inserted key-value pair

In [71]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
keys.popitem()
keys

{'key1': 'lion', 'key2': 'tiger'}

**default#** Returns the value of the specified key. If the key does not exist: insert the key, with the specified value.

In [76]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
f = keys.setdefault("key1")
f

'lion'

**update#** Updates the dictionary with the specified key-value pairs.

In [78]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
keys.update({"key4":"monkey"})
keys

{'key1': 'lion', 'key2': 'tiger', 'key3': 'deer', 'key4': 'monkey'}

**values**# Returns a list of all the values in the dictionary

In [81]:
keys = { "key1": "lion", "key2": "tiger", "key3": "deer"}
keys.values()

dict_values(['lion', 'tiger', 'deer'])